apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-assistant
resources:
- namespace.yaml
- pvc.yaml
- deployment.yaml
- service.yaml
- cloudflare-secret.yaml
- tunnel.yaml
- tunnelbinding.yaml
